*{
    margin: 0;
    padding: 0;
    font-family: 'Monument';
}
body{
    background-color: #161616;
    overflow: hidden;
}
.header2{
    position: absolute;
    display: flex;

    height: 150px;
    width: 100%;
    z-index: 10000;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header2 .logo{
    flex-grow: 1;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Neutral Face';

}
.header2 ul{
    list-style: none;
    text-align: right;
    margin-right: 30px;
    display: flex;
}
.header2 ul li .link{
    font-size: 20px;
    font-family: 'Neutral Face';
    color: white;
    font-weight: bold;
    margin-top: 5px;
    text-decoration: none;
}